@model IEnumerable<VHS_frontend.Areas.Provider.Models.Staff.StaffReadViewModel>
@{
    ViewData["Title"] = "Tài khoản bị khóa";
    Layout = "~/Areas/Provider/Views/Shared/_Layout.cshtml";
}

<h2 class="fw-bold mb-4">Danh sách nhân viên bị khóa</h2>

<table class="table table-striped table-hover">
    <thead class="table-danger">
        <tr>
            <th>Tên nhân viên</th>
            <th>CMND</th>
            <th>Ngày tạo</th>
            <th>Ảnh chân dung</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.StaffName</td>
                <td>@s.CitizenID</td>
                <td>@s.CreatedAt.ToString("dd/MM/yyyy")</td>
                <td>
                    @if (s.FaceImage != null && s.FaceImage.Any())
                    {
                        <img src="@s.FaceImage.First()" width="60" class="rounded-circle border" />
                    }
                    else
                    {
                        <span class="text-muted">Không có</span>
                    }
                </td>

                <td>
                    <form asp-area="Provider" asp-controller="Staff" asp-action="Unlock" asp-route-id="@s.StaffId" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-sm btn-success">Mở khóa</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>
